@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p {
    font-size: 1rem;
}

#rubrik {
    display: flex;
    justify-content: center;
}

header {
    display: flexbox;
    grid-area: hea;
    justify-content: center;
    height: 110px;
    background-color: rgb(95, 141, 78);
}
nav {
    display: flex;
    justify-content: space-evenly;
}
h1 {
    font-size: 4rem;
    font-family: 'Gemunu Libre', sans-serif;
    color: rgb(40, 84, 48);
}
h1:hover {
    color:rgb(229, 217, 182);
}

a {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    color: rgb(40, 84, 48);
}

a:hover {
    color: rgb(229, 217, 182);
}

h2 {
    font-size: 2rem;
    font-family: 'Gemunu Libre', sans-serif;
    margin: 10px;
}

.grid_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 110px 1fr 1fr 1fr 50px;
    grid-template-areas:
        "hea hea hea hea"
        "se1 se2 se3 se3"
        "se1 se2 se3 se3"
        "se1 se2 se4 se4"
        "foo foo foo foo";
}

section {
    display: flex;
}

.section_1{
    display: flex;
    grid-area: se1;
}
.section_2{
    display: flex;
    grid-area: se2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.section_3{
    display: flex;
    grid-area: se3;
}
.section_4{
    display: flex;
    grid-area: se4;
}

footer {
    grid-area: foo;
    background-color: rgb(95, 141, 78);
}

#section_all {
    background-image: linear-gradient(to bottom right, rgb(149, 185, 91), rgb(255, 255, 90));
    position: absolute;
    top: 110px;
    left: 0px;
    width: 100vw;
    height: 600px;
    z-index: -1;
}

.djur {
    height: auto;
    width: 150px;
    border: 5px rgb(40, 84, 48);
    border-radius: 5px;
}

img {
    border: 5px solid black;
}









#section_personal {
    display: flex;
    flex-wrap: wrap;
}

.article_personal {
    width: 150px;
    height: 210px;
    border: 3px black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#personal_1 {
    background:rgb(40, 84, 48);
    background-size: contain;
}